<!-- prettier-ignore -->
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<!-- Add Swim Posts -->

<main>
  <div class="add-swim-form-html">
    <div class="fill-screen container">
      <div class="row add-swim-row">
        <div class="col-lg-9 col-12 below-nav mx-auto">
          <div class="form add-swim-form">
          <h1>Add New Swim</h1>
          <hr />
            <form class="mb-5" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <p>
                {{ form.title.label_tag}}
                {{ form.title }}
                {{ form.title.errors}}
              </p>
              <p>
                {{ form.description.label_tag }}
                {{ form.description }}
                {{ form.description.errors }}
              </p>
              <p>
                {{ form.date.label_tag }}
                {{ form.date }}
                {{ form.date.errors }}
              </p>
              <p>
                {{ form.time.label_tag }}
                {{ form.time }}
                {{ form.time.errors}}
              </p>
              <p>
                {{ form.swim_difficulty.label_tag }}
                {{ form.swim_difficulty }}
                {{ form.swim_difficulty.errors }}
              </p>
              <p>
                {{ form.location.label_tag }}
                {{ form.location }}
                {{ form.location.errors }}
              </p>
              <p>
                {{ form.post_image.label_tag }}
                {{ form.post_image }}
                {{ form.post_image.errors }}
              </p>
              <!-- input button --><input
                class="btn btn-success"
                type="submit"
                name="submit"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- add_swim.html content ends here -->
{% endblock %}
