<!-- prettier-ignore -->
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<!-- Delete Post -->
<div class="delete-swim">
  <h1>Delete Swim</h1>
    <!-- Delete Swim Form -->
      <form class="delete-swim" method="POST">
        {% csrf_token %}
        <p>Are you use you want to delete this swim?</p>
        <!-- Delete Swim Button -->
        <button class="btn btn-delete">Delete</button>
      </form>
</div>

<!-- delete_swim.html content ends here -->
{% endblock %}
