<!-- prettier-ignore -->
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<!-- Add Swim Posts -->

<main>
  <div class="edit-swim-form-html">
    <div class="fill-screen container">
      <div class="row">
        <div class="col-lg-9 col-12 below-nav mx-auto">
          <div class="form edit-swim-form">
            <h1>Edit Swim</h1>
            <hr />
            <!-- Edit Swim Form -->
            <form class="mb-5" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <p>
                {{ object.review_title.label_tag}}
                {{ object.review_title }}
                {{ object.review_title.errors}}
              </p>
              <p>
                {{ object.body.label_tag }}
                {{ object.body }}
                {{ object.body.errors }}
              </p>
              <p>
                {{ object.review_location.label_tag }}
                {{ object.review_location }}
                {{ object.review_location.errors }}
              </p>
              <!-- Edit Swim Button -->
              <input
                class="btn btn-secondary"
                type="submit"
                name="Update"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- add_swim.html content ends here -->
{% endblock %}