<!-- prettier-ignore -->
{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Joined Swims Page -->

<div class="container-fluid">
    <div class="row">
      <div>
          <h3>Thank you for joining us, we can't wait to see you there!<h3>
      </div>
        <div class="col-12 mt-3">
            <div class="row all-posts">
                {% for joined_swim in joined_swims %}
                    <div class="col-md-4 mb-4 post-style">
                        <div class="card-border">
                            <div class="card-body">
                                <div class="image-container">
                                <!-- prettier-ignore -->
                                    {% if "placeholder" in joined_swim.swim.post_image.url %}
                                    <img class="card-img-top" src="{% static 'images/wild-swim-placeholder.png' %}" alt="placeholder image">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ joined_swim.swim.post_image.url }}" alt="image of loch">
                                    {% endif %}
                                    <div class="image-flash">
                                        <h2 class="card-title">{{ joined_swim.swim.title }}</h2>
                                        <p>Location: {{ joined_swim.swim.location }}</p>
                                        <p>Date: {{ joined_swim.swim.date }}</p>
                                        <p>Time: {{ joined_swim.swim.time }}</p>
                                        <p class="card-text">{{ joined_swim.swim.description }}</p>
                                        <p>Swim Difficulity: {{ joined_swim.swim.swim_difficulty }}</p>
                                    </div>
                                    <div>
                                        <form method="POST" action="{% url 'remove_joined_swim' joined_swim.swim.pk %}">
                                        {% csrf_token %}
                                        <button class="button-posts">Remove this swim</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


  <!-- joined_swims.html content ends here -->
  {% endblock %}
</div>