{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<!-- Review Swims -->

<main>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div>
                <h3>Have you joined us for a swim?</h3>
                <p>We'd love to hear your feedback!</p>
                <p>Let others know what you thought of a specific swim location.</p>
                <p>Connect with each other and build the community</p>
                </div>
                <div class="col-12 mt-3">
                    <div class="row all-posts">
                        <ul>
                            {% for review in reviews %}
                                <div class="col-md-4 mb-4 post-style">
                                    <div class="card-border">
                                        <div class="card-body swim-card">
                                            <div class="image-container">
                                                <li>
                                                    {{ review.user.username }}
                                                </li>
                                                <li>
                                                    {{ review.body }}
                                                </li>
                                                <li>
                                                    {{ review.created_on }}
                                                </li>
                                                <li>
                                                    {{ review.updated_on }}
                                                </li>
                                                {% empty %}
                                                <li>
                                                    No reviews yet.
                                                </li>
                                            </div>
                                            <div class="card-buttons">
                                                {% if user.is_authenticated and review.user == user %}
                                                    <a href="{% url 'edit_swim' review.pk %}">
                                                        <button class="btn btn-edit" post_id="{{ review.id }}">
                                                            Edit
                                                        </button>
                                                    </a>
                                                {% endif %}
                                                {% if user.is_authenticated and review.user == user %}
                                                    <a href="{% url 'delete_swim' review.pk %}">
                                                        <button class="btn btn-delete" post_id="{{ review.id }}">
                                                            Delete
                                                        </button>
                                                    </a>
                                                {% endif %}
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="review-form-html">
            <div class="fill-screen container">
                <div class="row review-row">
                    <div class="col-lg-9 col-12 below-nav mx-auto">
                        <div class="form review-form">
                            <h1>Add Your Review</h1>
                            <hr />
                            <form class="mb-5" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>
                                {{ form.body.label_tag}}
                                {{ form.body }}
                                {{ form.body.errors}}
                            </p>
                            <!-- input button -->
                            <input
                                class="btn btn-success"
                                type="submit"
                                name="submit"
                            />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- review.html content ends here -->
{% endblock %}