<!-- prettier-ignore -->
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<!-- Review Swims -->

<main>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div>
                    <h3>Have you joined us for a swim?</h3>
                    <p>We'd love to hear your feedback!</p>
                    <p>Let others know what you thought of a specific swim location.</p>
                    <p>Connect with each other and build the community</p>
                </div>
                <div class="col-12 mt-3">
                    <div class="review-list">
                        <!-- Review List -->
                        <ul>
                            {% for review in object_list %}
                            <div class="reivews">
                                <div class="single-review">
                                    <li>
                                        {{ review.review_title }}
                                    </li>
                                    <li>
                                        {{ review.review_location }}
                                    </li>
                                    <li>
                                        {{ review.body }}
                                    </li>
                                    <li>
                                        {{ review.user }}
                                    </li>
                                    <li>
                                        {{ review.created_on }}
                                    </li>
                                    <!-- Review edit/ delete buttons -->
                                    <div class="review-buttons">
                                        <a href="{% url 'edit_review' review.pk %}">
                                            <button class="btn btn-edit" post_id="Review.id">
                                            Edit
                                            </button>
                                        </a>
                                        <a href="{% url 'delete_review' review.pk %}">
                                            <button class="btn btn-delete" post_id="Review.id">Delete</button>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Review Form -->
    <section>
        <div class="review-form-html">
            <div class="fill-screen container">
                <div class="row review-row">
                    <div class="col-lg-9 col-12 below-nav mx-auto">
                        <div class="form review-form">
                            <h1>Add Your Review</h1>
                            <hr />
                            <form class="mb-5" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>
                                {{ form.review_title.label_tag}}
                                {{ form.review_title }}
                                {{ form.review_title.errors}}
                            </p>
                            <p>
                                {{ form.review_location.label_tag}}
                                {{ form.review_location }}
                                {{ form.review_location.errors}}
                            </p>
                            <p>
                                {{ form.body.label_tag}}
                                {{ form.body }}
                                {{ form.body.errors}}
                            </p>
                            <!-- input button -->
                            <input
                                class="btn btn-success"
                                type="submit"
                                name="submit"
                            />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- review.html content ends here -->
{% endblock %}