<!-- prettier-ignore -->
{% extends "base.html" %}

{% block content %}

<!-- Homepage Posts -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="row all-posts">
        {% for SwimPosts in object_list %}
        <div class="col-md-4 mb-4 post-style">
          <div class="card-border">
            <div class="card-body">
              <div class="image-container">
                <div class="image-flash">
                  <h2 class="card-title">{{SwimPosts.title}}</h2>
                  <p>Location: {{SwimPosts.location}}</p>
                  <p>Date: {{SwimPosts.date}}</p>
                  <p class="card-text">About: {{SwimPosts.description}}</p>
                  <button class="button-posts">Join this swim</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="more-info">
  <button class="button-posts">
    Click here to find out more upcoming swims
  </button>
</div>
<!-- swim_posts.html content ends here -->
{% endblock %}
