@import url('https: //fonts.googleapis.com/css2?family=Tektur:wght@400;500&display=swap')

/* prettier-ignore*/
* {
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Tektur', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #385560;
    color: white;
}

/* Navigation menu */

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

menu li {
    display: inline-block;
    margin-right: 10px;
}

menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
}

/* Navigation menu */

footer {
    margin-top: auto;
}