<!-- prettier-ignore -->
{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- 500 Error Page -->

<main>
    <div class="500-error">
      <h1>500 Error</h1>
          <p>500 Error: We're having trouble with the server and cannot complete the request</p>
          <br>
          <p>Let's get you back to the right place</p>
          <a
              class="nav-link {% if request.path == home %}active"
              aria-current="page{% endif %}"
              href="{% url 'home' %}"
              >Home</a
            >
    </div>
  </main>

<!-- 500.html content ends here -->
{% endblock %}